
@{
    ViewBag.Title = "Home";
}


@{ string username = ViewData["username"] as String; }

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/Content/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/vendor/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/Content/vendor/swiper/dist/css/swiper.min.css">
    <link rel="stylesheet" href="/Content/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/Content/css/poppins.css">
    <link rel="stylesheet" href="/Content/css/common.css">
    <link rel="stylesheet" href="/Content/css/style.css">
    <link rel="stylesheet" href="/Content/css/responsive.css">

    <title>TTHT Homepage</title>
</head>
<body>
    <!-- Header Zone -->
    <header class="header position-relative">
        <nav class="navbar navbar-expand-md navbar-home">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="/Content/img/logo-white.png" class="logo-header">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <div class="nav_search_menu">
                            <i class="fas fa-bars"></i>
                            <span class="nav_search_menu__txt">
                                Categories
                            </span>
                            <ul class="nav_search_menu__list">
                                <div class="nav_search_menu__item_wrapper">
                                    <a href="@Url.Action("List", "Hotel")" class="nav_search_menu__item j-nav_search_menu_thing">
                                        <p class="nav_search_menu__item_txt">Khách Sạn </p>
                                    </a>
                                </div>
                                <div class="nav_search_menu__item_wrapper">
                                    <a href="@Url.Action("List", "Hotel")" class="nav_search_menu__item j-nav_search_menu_thing">
                                        <p class="nav_search_menu__item_txt">Home Stay</p>
                                    </a>
                                </div>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto nav-flex-icons header-menu-right">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="@Url.Action("Booking", "User")">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </li>
                    @if (username == null)
{
                    <li class="nav-item">
                        <a class="nav-link text-white" href="@Url.Action("Login", "User")">Đăng Nhập</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="@Url.Action("Register", "User")">Đăng Ký</a>
                    </li>
}
else
{
                        <li class="nav-item">
                        <a class="nav-link text-white" href="@Url.Action("Config", "User")">@username</a>
                    </li>
}
                </ul>
            </div>
        </nav>

        <div class="search-zone position-relative">
            <div class="slider-search position-absolute text-center ">
                <h1>YOURS TO EXPLORE</h1>
                <br>
                <br>
                <br>
                @{/*<div class="j_search_box index__search_box">
                    <!--<form id="searchForm" action="/en-US/search" method="GET">-->
                    <input id="searchTxt" class="float-left" name="query" type="text" placeholder="Tìm kiếm địa điểm, khách sạn, homestay.." autocomplete="off">
                    <button class="bg-main" id="search_btn" data-gatag="Main Page|Search">
                        <i class="text-white fas fa-search fs22"></i>
                    </button>
                    <!--</form>-->
                </div>*/}
            </div>
        </div>

        <section class="header-content">
            <div id="home-slider" class="swiper-container">
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide">
                        <img src="/Content/img/header-home.jpg" alt="Slider">
                    </div>
                </div>
            </div>
        </section>
        <div class="main-featured bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 float-left d-table align-items-center full-height">
                        <div class="d-table-cell align-middle full-height">
                            <div class="d-inline-block">
                                <div class="d-table full-width position-relative">
                                    <div class="d-table-cell align-middle pr-3">
                                        <img src="/Content/img/transport.png">
                                    </div>
                                    <div class="d-table-cell text-left align-middle">
                                        <p class="fs16 feature-title">Kinh nghiệm thực</p>
                                        <p class="fs14 text-grey feature-des">Đọc review của nhiều người dùng khác</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 float-left d-table align-items-center full-height">
                        <div class="d-table-cell align-middle full-height">
                            <div class="d-inline-block">
                                <div class="d-table full-width position-relative">
                                    <div class="d-table-cell align-middle pr-3">
                                        <img src="/Content/img/ticket.png">
                                    </div>
                                    <div class="d-table-cell text-left align-middle">
                                        <p class="fs16 feature-title">Chính sách bảo đảm giá</p>
                                        <p class="fs14 text-grey feature-des">Giảm giá lên tới 60%</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 float-left d-table align-items-center full-height">
                        <div class="d-table-cell align-middle full-height">
                            <div class="d-inline-block">
                                <div class="d-table full-width position-relative">
                                    <div class="d-table-cell align-middle pr-3">
                                        <img src="/Content/img/app.png">
                                    </div>
                                    <div class="d-table-cell text-left align-middle">
                                        <p class="fs16 feature-title">Booking an toàn</p>
                                        <p class="fs14 text-grey feature-des">Booking bảo mật và an toàn</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End Header Zone -->
    <!-- Main Content -->
    @RenderBody()

    <!-- End Main Content -->
    <!-- Footer -->
    <footer class="footer">
        <div class="box-submit">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 mt-5 mb-5">
                        <ul class="">
                            <li class="d-inline"><i class="fab fa-facebook-square fs30 mr-5 text-light-grey"></i></li>
                            <li class="d-inline"><i class="fab fa-twitter fs30 mr-5 text-light-grey"></i></li>
                            <li class="d-inline"><i class="fab fa-instagram fs30 mr-5 text-light-grey"></i></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 mt-5 mb-5">
                        <div class="subscribe-box">
                            <form>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text text-light-grey">Subcribe for news</span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Enter your email address" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="input-group-text email-submit bg-main text-white" id="basic-addon2">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-xs-36 mt-5 mb-5">
                        <p class="text-white fs16"><i class="far fa-copyright"></i> 2014-2019 SOUTCHAI Travel</p>
                        <a class="fs13 text-white" href="#">Limited. All Right Reserved</a>
                    </div>
                    <div class="col-sm-2 col-xs-36 mt-5 mb-5">
                        <p class="fs16 text-white semi-bold">ABOUT SOUTCHAI</p>
                        <ul class="mt40 footer-menu">
                        </ul>
                    </div>
                    <div class="col-sm-2  col-xs-36 mt-5 mb-5">
                        <p class="fs16 text-white semi-bold">PARTNERSHIPS</p>
                        <ul class="mt40 footer-menu">
                        </ul>
                    </div>
                    <div class="col-sm-2  col-xs-36 mt-5 mb-5">
                        <p class="fs16 text-white semi-bold">TERMS OF USE</p>
                        <ul class="mt40 footer-menu">
                        </ul>
                    </div>
                    <div class="col-sm-3 col-xs-36 mt-5 mb-5">
                        <div class="home-faq">

                        </div>
                        <div class="payment-channel mt-3">
                            <p class="text-white">PAYMENT CHANNEL</p>
                            <img src="/Content/img/visa-stock-cover.png" alt="Soutchai logo">
                            <img src="/Content/img/download (1).png" alt="Soutchai logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="Content/vendor/jquery/jquery-3.4.1.min.js"></script>
    <script src="Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="Content/vendor/fontawesome/js/all.min.js"></script>
    <script src="Content/vendor/swiper/dist/js/swiper.min.js"></script>
    <script src="Content/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="Content/js/common.js"></script>
</body>
</html>
