
@{
    ViewBag.Title = "Hotel Detail";
    Layout = "~/Views/Shared/List.cshtml";
}

@using CNW_N8_MVC.Models;
@{ string id = ViewData["id"] as String;}
@model dynamic


<link rel="stylesheet" href="/Content/datePicker/jquery-ui.css">

<script src="/Content/datePicker/jquery-1.12.4.js"></script>
<script src="/Content/datePicker/jquery-ui.js"></script>
<script>
    $(function () {
        
        
        $("#MyDate1").datepicker({
           
        });
    });
</script>


<section class="main-content">
    <div class="swiper-container swiper-slider-view">
        <div class="swiper-wrapper">
            <div class="view-swiper-bg">
                <img src="@Model.hotel.detail_header_image_url" alt="Slider" width="1920" height="600">
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->

    </div>
    <div class="container">
        <div class="row" id="main-content">
            <div class="col-sm-9" id="content">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Hotel</a></li>
                    </ol>
                </nav>
                <div class="hotel-information">
                    <div class="">
                        <h3 class="color-main semi-bold">@Model.hotel.hotel_name</h3>
                    </div>
                    <div class="mt-2">
                        <p class="fs14">@Model.hotel.description</p>
                    </div>
                </div>
                <hr class="mt-5 mb-5">
                <div class="package-options">
                    <div class="">
                        <h3 class="text-main semi-bold">Lựa chọn ngày</h3>
                    </div>
                    <div class="options-area">
                        <form method="get" action="/Hotel/AddItemHotel/@id">
                            <p class="fs16 text-black"></p>
                            <div class="p-3">
                                <p class="text-light-grey mb-3">Lựa chọn ngày</p>
                                <div class="form-inline">
                                    <div class="date-picker-booking form-group mr-3">
                                        <p class="fs14 text-left mr-3">Ngày đến</p>
                                        <div class="input-with-message">
                                            <input type="date" class="form-control sc-datepicker check-in" name="check_in" id="checkin">
                                        </div>
                                    </div>
                                    <div class="date-picker-booking form-group">
                                        <p class="fs14 text-left mr-3">Ngày Về</p>
                                        <div class="input-with-message">
                                            <input type="date" class="form-control sc-datepicker check-out" name="check_out" id="checkout">
                                        </div>
                                        <div style="color:red; font-size:20px; margin-left:10px" id="divThongBao"></div>
                                    </div>
                                </div>
                                <hr class="mt-3 mb-3">
                                @*<div class="row">
                                    <div class="col-sm-6">
                                        <label class="fs14 mr-3">Họ và tên :</label>
                                        <input type="hovaten" class="form-control input-detail sc-text" placeholder="Họ và tên">
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="fs14 mr-3">SĐT :</label>
                                        <input type="sdt" class="form-control input-detail sc-text">
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-sm-6">
                                        <label class="fs14 mr-3">Email :</label>
                                        <input type="email" class="form-control input-detail sc-text" placeholder="demo@gmail.com">
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="fs14 mr-3">Địa chỉ :</label>
                                        <input type="diachi" class="form-control input-detail sc-text">
                                    </div>
                                </div>*@
                                <hr class="mt-3 mb-3">
                                <div class="package-payment-info">
                                    <p class="text-light-grey mb-3">Đơn Giá : </p>
                                    <div class="package-price-wrapper">
                                        <div class="package-price-content-wrapper">
                                            <div class="package-price-box col-sm-5">
                                                <div class="package-price-detail">
                                                    <p class="package-price-total"><span class="j-totalPrice">@Model.hotel.sell_price vnđ</span></p>
                                                    <div class="act_result__cost_detail act_result__cost_detail--inline j-cost_detail">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="package-price-btn-box col-sm-6">
                                                <button id="datphong" class="btn btn-buy" type="submit" >
                                                    ĐẶT PHÒNG
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <hr class="mt-5 mb-5">
                <div class="expect-area">
                    <div class="">
                        <h3 class="text-red fs26">Có những gì tạo Khách sạn ?</h3>
                    </div>
                    <div class="mt-2">
                        <p class="fs14">
                            @Model.hotel.more_imformation
                        </p>
                        <div class="mt-5 image-area">
                            <img src="@Model.hotel.more_imformation_image_url" class="full-width" alt="">
                        </div>
                    </div>
                </div>
                <hr class="mt-5 mb-5">

            </div>
            <div class="col-sm-3" id="sidebar">
                <div class="sidebar-item accomodation-sidebar mt-5">
                    <div class="sidebar-box sidebar__inner">
                        <div class="p-4">
                            <p class="fs22 text-main"> @Model.hotel.sell_price vnđ/đêm</p>
                            <p class="fs14 text-black">
                                <del> @Model.hotel.price vnđ/đêm</del>
                            </p>
                            <button class="btn btn-buy" data-role="bookNow">ĐẶT PHÒNG</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="mt-5 mb-5">
        <div class="more-items pb-5">
            <div class="">
                <h3 class="text-main semi-bold">Khách sạn tương tự</h3>
            </div>
            <div class="mt-2">
                <div class="position-relative full-width pt-5">
                    <div class="row">
                        @{ int key1 = 0;}
                        @foreach (hotel it in Model.hotels)
                        {
                            key1 += 1;
                            if (key1 > 4)
                            {
                                break;
                            }
                            else
                            {

                                <div class="col-sm-3">
                                    <div class="soutchai-item">
                                        <div class="m_justify_list m_radius_box act_card act_card_sm a_sd_move j_activity_item js-item block-item">
                                            <a href="/Hotel/Detail/@it.id">
                                                <div class="soutchai-item-img">
                                                    <img src="@it.image_url" />
                                                    <div class="top-left">
                                                        <i class="fas fa-map-marker-alt fs13"></i>
                                                        <span class="t_white">@it.location.location_name</span>
                                                    </div>
                                                </div>
                                                <ul class="">
                                                    <li class="position-relative">
                                                        <p class="title">@it.hotel_name</p>
                                                    </li>
                                                    <li class="price pt-2">
                                                        <p class="fs12 text-grey">
                                                            <del>@it.price VNĐ</del>
                                                        </p>
                                                        <p>
                                                            <span class="latest_price color-main"><b>@it.sell_price đ/Đêm</b></span>
                                                        </p>
                                                    </li>
                                                </ul>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/js/DetailHotel.js"></script>