
@using CNW_N8_MVC.Models;
@model dynamic

@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Backend/Views/Shared/Backend.cshtml";
}


    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header"><i class="fa fa-align-justify"></i> Danh sách đặt booking Hotel</div>
                <div class="card-body">
                    <table class="table table-responsive-sm">
                        <thead>
                            <tr>
                                <th>Tên hotel</th>
                                <th>Tên khách hàng</th>
                                <th>Email khách hàng</th>
                                <th>Từ ngày</th>
                                <th>Đến ngày</th>
                                <th>Tổng tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (hotel_booking it in Model.hotel_bookings)
                            {
                                <tr>
                                    <td>@it.hotel.hotel_name </td>
                                    <td>@it.customer_name</td>
                                    <td>@it.customer_email</td>
                                    <td>@it.from_date</td>
                                    <td>@it.to_date</td>
                                    <td>@it.total_price</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header"><i class="fa fa-align-justify"></i> Danh sách đặt booking Homestay</div>
                <div class="card-body">
                    <table class="table table-responsive-sm">
                        <thead>
                            <tr>
                                <th>Tên homestay</th>
                                <th>Tên khách hàng</th>
                                <th>Email khách hàng</th>
                                <th>Từ ngày</th>
                                <th>Đến ngày</th>
                                <th>Tổng tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (homestay_booking it in Model.homestay_bookings)
                            {
                                <tr>
                                    <td>@it.homestay.homestay_name </td>
                                    <td>@it.customer_name</td>
                                    <td>@it.customer_email</td>
                                    <td>@it.from_date</td>
                                    <td>@it.to_date</td>
                                    <td>@it.total_price</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    
                </div>
            </div>
        </div>
    </div>